# Node modules
/node_modules
/client/node_modules
/server/node_modules

# Environment Variables
/.env*
/client/.env*
/server/.env
/build

# System Files
.DS_Store  # For macOS
Thumbs.db  # For Windows
